<div class="main-wrapper">
    <div class="main-content-wrapper">
            <div class="shadow-box-lg analytics-wrapper">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-12">
                            <div class="title">
                                
                                    <h3>Bidding platform</h3>
                                    <select>
                                        <option>Filter by time</option>
                                        <option>Filter by time</option>
                                        <option>Filter by time</option>
                                    </select>    
                               
                                
                            </div>
                          
                        </div>
                        <div class="col-xs-12 col-sm-4 col-4">
                            <mat-form-field appearance="outline" class="mr-10">
                                <mat-label>Total Earnings</mat-label>
                                <input matInput placeholder="$124" formControlName="total_earnings" />
                              </mat-form-field>     
                        </div>
                        <div class="col-xs-12 col-sm-4 col-4">
                            <mat-form-field appearance="outline" class="mr-10">
                                <mat-label>Account status</mat-label>
                                <input matInput placeholder="ABC" formControlName="account_status" />
                              </mat-form-field>     
                        </div>
                        <div class="col-xs-12 col-12">
                            <div class="sub-heading">
                                Direct sell count
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-4">
                                    <mat-form-field appearance="outline" class="mr-10">
                                        <mat-label>Ongoing</mat-label>
                                        <input matInput placeholder="Ongoing" formControlName="ongoung" />
                                      </mat-form-field>     
                                 </div>
                                 <div class="col-xs-12 col-sm-4 col-4">
                                    <mat-form-field appearance="outline" class="mr-10">
                                        <mat-label>Sold out</mat-label>
                                        <input matInput placeholder="Sold out" formControlName="soldout" />
                                      </mat-form-field>     
                                 </div>
                            </div>
                            
                        </div>

                        <div class="col-xs-12 col-12">
                            <div class="sub-heading">
                                Bidding room count
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-4">
                                    <mat-form-field appearance="outline" class="mr-10">
                                        <mat-label>Upcoming</mat-label>
                                        <input matInput placeholder="Upcoming" formControlName="upcoming" />
                                      </mat-form-field>     
                                 </div>
                                 <div class="col-xs-12 col-sm-4 col-4">
                                    <mat-form-field appearance="outline" class="mr-10">
                                        <mat-label>Live</mat-label>
                                        <input matInput placeholder="Live" formControlName="live" />
                                      </mat-form-field>     
                                 </div>
                                 <div class="col-xs-12 col-sm-4 col-4">
                                    <mat-form-field appearance="outline" class="mr-10">
                                        <mat-label>Closed</mat-label>
                                        <input matInput placeholder="Closed" formControlName="closed" />
                                      </mat-form-field>     
                                 </div>
                            </div>
                            
                        </div>


                        <div class="col-xs-12 col-12">
                            <div class="sub-heading">
                                Average selling prices
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-4">
                                    <mat-form-field appearance="outline" class="mr-10">
                                        <mat-label>in Direct selling</mat-label>
                                        <input matInput placeholder="in Direct selling" formControlName="indirect_selling" />
                                      </mat-form-field>     
                                 </div>
                                 <div class="col-xs-12 col-sm-4 col-4">
                                    <mat-form-field appearance="outline" class="mr-10">
                                        <mat-label>in Bidding rooms</mat-label>
                                        <input matInput placeholder="in Bidding rooms" formControlName="in_bidding_rooms" />
                                      </mat-form-field>     
                                 </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-12">
                            <div class="graph-block">
                               <div class="title">
                                    <h3>Overview</h3>
                                    <select>
                                        <option>Filter</option>
                                        <option>Filter</option>
                                        <option>Filter</option>
                                    </select>
                               </div> 
                               <div>Graph</div>    
                            </div>
                        </div>


                        <div class="col-xs-12 col-12">
                            <div class="title">
                                <h3>Streaming platform</h3>
                           </div> 
                           <div class="row">
                            <div class="col-xs-12 col-sm-4 col-4">
                                <mat-form-field appearance="outline" class="mr-10">
                                    <mat-label>Followers</mat-label>
                                    <input matInput placeholder="1235" formControlName="followers" />
                                  </mat-form-field>     
                             </div>
                             <div class="col-xs-12 col-sm-4 col-4">
                                <mat-form-field appearance="outline" class="mr-10">
                                    <mat-label>Following</mat-label>
                                    <input matInput placeholder="1235" formControlName="following" />
                                  </mat-form-field>     
                             </div>
                        </div>
                        </div>



                    </div>
                   
                   
                    <div class="btn-wrap mb-16">
                        <button mat-button class="btn" type="submit">Share to timeline</button>
                      </div>
                  
                 
                  </form>   
            </div>
    </div>
    <div class="right-side-bar">

    </div>
</div>
