<div class="log-reg-box" *ngIf="!isSignin">
  <div class="logo-wrap mx-auto">
    <img
      src="../../../../../assets/images/logos/logo.png"
      class="logo"
      alt=""
    />
  </div>
  <h2 class="title">Forgot Password</h2>
  <form [formGroup]="forgotPassForm" (ngSubmit)="forgotPassword()">
    <div>
      <mat-form-field appearance="outline"> 
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="mail@example.com"
        />
      </mat-form-field>
    </div>
    <div class="btn-wrap mb-16">
      <button mat-button class="btn btn-green" type="submit">Submit</button>
    </div>
    <p><a style="cursor: pointer; color: blue" (click)="isSignin = !isSignin">Login </a><span>to yout account</span></p>
  </form>
</div>

<div *ngIf="isSignin">
  <app-signin></app-signin>
</div>
