<div class="about-wrapper">
    <div class="about-banner-content">
      <div class="container">
        <div class="head">
          <h1>Why should you choose us?</h1>
                 </div>
        <div class="banner-content">
          <div class="text">
          <p>We are trying to protect the integrity of art. The battle between Artist and Exposure vs Ownership is way off balance. Artist should be able to create and maintain ownership over their art while allowing the world to be inspired thus and creating more art.</p>

          </div>
          <div class="text">
            <p>This platform creatively allows artist to not only get exposed by other artist but can grow their fan base. Whether you are streaming, posting, or trying to collaborate; the technology is here to support your ability to monetize, get discovered, and continue to create. </p>
          </div>
      </div>
      </div>
    </div>
   
    
    <div class="banner-image">
      <img src="../../../assets/images/about/banner.jpg" alt=""
    />
    </div>
    <div class="container eoi-wrapper">
      <div class="block-eoi">
        <h4>Meet the executive of innovation officer.</h4>
        <p>The vision was clear from day one. Lamonts heart and passion for career driven success spilled over into our platform with abundance. The model is simple; if you are inspired by the world let the world be inspired by you. Music is universal so we want a platform that modeled after that.</p>
        <div class="avatar-block">
          <figure>
            <img src="../../../assets/images/about/Aniyabetts.jpg" />
          </figure>
          <div class="item">
            <h6>Aniya Betts</h6>
          <span>EOI Officer</span>
          </div>
          
        </div>
       
        
      </div>
    </div>

    <div class="container">
      <div class="development-team">
        <div class="image">
          <img src="../../../assets/images/about/development.jpg" alt=""
          />
        </div>
        <div class="content">
          <h2>Meet the owner, founder, and CEO.</h2>
          <p>tarting up, it was just an idea for a more equitable and artist driven platform. The dream was large but that didn't deter me from pursuing it. They say something like what we created is too good to be true. My response to that is confidence in people who want to pursue their dreams. Those who are tired of being worked over and left out will see that their only option is here at Verse Nation.</p>
          <div class="avatar-block">
            <figure>
              <img src="../../../assets/images/about/Lamont.jpg" alt=""/>
            </figure>
            <div class="item">
              <h6>Lamont Davis</h6>
              <span>Founder</span>
            </div>
          </div>
        </div>
       
      </div>
      
    </div>

   
  </div>
  <div class="founder-block">
    <div class="container">
      <div>
        <h4>Meet our development Team.</h4>
        <p>Top Mobile App Development Company in St. Louis, Building the best App for your best ideas. XTAPPS Software Solutions, which has been in service for over 8 years, designs and develops state-of-the-art mobile solutions to enable our clients to excel in their business environment. Headquartered in St Louis, MISSOURI, our team embraces your ideas and refines them to the best of our ability and makes them a reality.</p>
        <div class="avatar-block">
          <figure>
            <img src="../../../assets/images/about/xtapps.jpg" alt=""/>
          </figure>
          <div class="item">
            <h6>XTAPPS</h6>
          <span>Developer</span>
          </div>
        </div>
     
      </div>
  </div>
  </div>


  <footer>
    <div class="container">

      <div class="row">
        <div class="col-8">
          <div class="footer-menu-block">
            <div class="logo">
              <img src="../../../assets/images/logos/logo.png" />
            </div>
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Streaming</a>
              </li>
              <li >
                <a href="#">Help</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Login</a>
              </li>
              <li>
                <a href="#">Sign Up</a>
              </li>
            </ul>
          </div>
         
      </div>
      <div class="col-4">
        <div class="adress-block">
          <h5>Contact</h5>
          <ul>
            <li>
              <i>
                <img src="./../../assets/images/icons/location.svg" />
              </i>
              1234 Street Name, City, AA 99999
            </li>
            <li>
              <i>
                <img src="./../../assets/images/icons/phone.svg" />
              </i>
              +1 (314) 266-8713
            </li>
            <li>
              <a href="#">
                <i>
                  <img src="./../../assets/images/icons/message.svg" />
                </i>
                Support@versions.com
              </a>
            </li>
          </ul>
          <div class="social-icons"> 
            <span>
              <a href="#">
                <img src="../../../assets/images/icons/facebook.svg" />
              </a>
            </span>
            <span>
              <a href="#">
                <img src="../../../assets/images/icons/instagram.svg" />
              </a>
            </span>
        </div>
        </div>
      </div>
      </div>

      <div class="copyright">
        <p>©2022 versenation.com. All rights reserved.</p>
      </div>
    </div>
  </footer>