<app-header-with-sidenav>
        <div class="main-wrapper">
            <div class="main-content-wrapper">
                <div class="shadow-box join-content-block">
                    <div class="d-flex">
                        <div class="ml-auto d-flex top-opt">
                            <div class="price">$250</div>
                            <div class="time">
                                <i>
                                    <img class="w-100" src="../../../assets/images/icons/clock-icon.svg" />
                                </i>
                                01:22:20
                            </div>
                            <div class="exclusive"> 
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                Exclusive
                            </div>
                            <button class="btn" routerLink="/userbid">Join</button>
                        </div>
                    </div>
                    <div class="profile-info-title">
                        <div class="info-block">
                            <div class="chanel-name">
                                <h4>MARKEYBEE Living Room</h4>
                                <span>Binaural Space</span>
                            </div>
                            <div class="profile">
                                <figure>
                                    <img src="../../../assets/images/pic/profile-image-01.jpg" />
                                </figure>
                                <h6>Tom Cruise</h6>
                            </div>
                        </div>
                        <div class="licence-block">
                            <div class="licence">Uses of licence</div>
                            <div class="licence-pic">
                                <img src="../../../assets/images/pic/image-01.png" />
                            </div>
                        </div>
                    </div>

                    <div class="video-block">
                        <div class="video">
                            <img src="../../../assets/images/direct-sell/video-image.png" />
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.</p>
                    </div>

                    <div class="similar-product">

                        <div class="row">
                                <div class="col-sm-12  col-12">
                                        <div class="title">
                                                <h3>Similar Products</h3>
                                                <div class="arrow-block">
                                                        <span><img
                                                                        src="../../../assets/images/icons/arrow-left.svg"></span>
                                                        <span><img
                                                                        src="../../../assets/images/icons/arrow-right.svg"></span>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                </div>

                        </div>
                </div>
                </div>
            </div>
            <div class="right-side-bar">
                <div class="shadow-box">
                        <div class="title">
                                <h3>Joined Rooms</h3>
                        </div>
                        <app-live-actions></app-live-actions>
                        <app-live-actions></app-live-actions>
                        <app-live-actions></app-live-actions>
                        <app-live-actions></app-live-actions>
                        <app-live-actions></app-live-actions>
                        <div class="show-more-btn">
                                <a href="#">Show more
                                        <span>
                                                <img src="../../../assets/images/icons/arrow-down.svg" />
                                        </span>
                                </a>
                        </div>
                </div>
               
        </div>
        </div>
</app-header-with-sidenav>