.entrepreneurship-wrapper{
    .title{
        font-size: 20px;
        font-weight: 500;
        padding-top: 5px;
        margin-bottom: 22px;
    }
    .video-block{
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 15px;
    }
    p{
        font-size: 15px;
        line-height: 24px;
    }
}