/////////////////////////////
///BASES///
/////////////////////////////

$body-bg                 : #ffffff; 

/////////////////////////////
///COLOR SYSTEMS///
///////////////////////////// 

//types colors
$title-color            : #1d1d1d; 
$sub-title-color        : #757575;
$title-hightlight-color : #FA7773;
$text-color             : #1d1d1d; 


//re-initialize colors
$primary                 : #4169e1; 
$secondary               : #06bc35; 
$primary-dark            : #1d1d1d;

/////////////////////////////
///Custom variable///
/////////////////////////////

$grey-color-100          : #5e5e5e;




