
.main_container{
    // mat-form-field{
    //     margin-bottom: -15px;
    // }

    .heading{
        p{
            font-size: 16px;
            font-weight: 500;
        }
    }

    .flex{
        display: flex;
        gap: 10px;
    }
    .ok_btn{
        margin-left: 10px;
    }
    .file_input{
        width: 100%;
        border: 1px solid #e1e1e1;
        border-radius: 3px;
        padding: 11px;
        margin-top: 3px;
    }
    .file_err{
        font-size: 11px;
        padding-left: 10px;
        color: red;
    }
    .buttons{
        margin-top: 20px;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.file_input{
  border: 1px solid #e1e1e1 ;
  padding: 10px;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  background: #084cdf;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;

}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}