<div class="trending-albums-block">

  <div class="item-wrapper">
    <div class="row">
      <div class="col-12">
        <div class="sub-title">
          <h4>My Content</h4>
          <div class="arrow-block">
            <span>
              <img src="../../../assets/images/icons/arrow-left.svg" />
            </span>
            <span>
              <img src="../../../assets/images/icons/arrow-right.svg" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div class="col-xs-12 col-sm-3 col-3" *ngFor="let top of topMusic">
          <div class=" item" (click)="getItem(top)">
            <figure><img [src]="top?.popularListimage" /></figure>
            <div class="content">
              <h4>{{ top?.name ? top.name : "--" }}</h4>
              <h5>{{ top?.artists ? top.artists : "--" }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
