<div infiniteScroll (scrolled)="getPosts($event)" [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
  [scrollWindow]="false">
  <div class="shadow-box-lg" *ngIf="!isGuest">
    <div class="comment-wrapper">
      <div class="comment-block">
        <figure class="profile_pic">
          <img class="profile" [src]="profileDetails?.profileImageUrl" alt=""/>
        </figure>
        <textarea placeholder=" What's in your Mind" [(ngModel)]="feedText"></textarea>
      </div>
      <div class="uploadMedia" *ngIf="mediaUrl">
        <i>
          <img class="close_icon" (click)="removeMedia()" src="../../../assets/images/icons/close-icon.svg" />
        </i>
        <figure>
          <img class="media" [src]="mediaUrl" alt="">
        </figure>
      </div>
      <div class="sort-block">
        <span class="attach">
          <i>
            <img src="../../../assets/images/icons/attachment-icon.svg" />
          </i>Attachments</span>
        <span class="image-choose" (click)="media.click()">
          <i>
            <img src="../../../assets/images/icons/image-icon.svg" />
          </i>
          Media
          <input #media hidden type="file" accept="image/*" (change)="uploadMedia($event.target)">
        </span>
        <span class="type">Type </span>
        <button class="btn btn-outline-primary medium" (click)="postNewFeed()">Post</button>
      </div>
    </div>
  </div>
  <app-post-view *ngFor="let post of posts" [postData]="post"></app-post-view>
</div>