<app-header-with-sidenav>


        <div class="main-wrapper">
                <div class="main-content-wrapper">
                        <div class="shadow-box direct-sell-wrapper">
                                <div class="row">
                                        <div class="col-12 col-xs-12 col-lg-9 ">
                                                <div class="video-block">
                                                        <div class="video">
                                                                <img
                                                                        src="../../../assets/images/direct-sell/video-image.png">
                                                        </div>
                                                        <p>It is a long established fact that a reader will be
                                                                distracted by the
                                                                readable content of a page when looking at its layout.
                                                        </p>
                                                </div>

                                        </div>
                                        <div class="col-12 col-xs-12 col-lg-2">
                                                <div class="">
                                                        <div class="time-item">
                                                                <i>
                                                                        <img
                                                                                src="../../../assets/images/icons/clock_icon.svg" />
                                                                </i>
                                                                <span>01:22:20</span>
                                                        </div>
                                                        <div class="price">
                                                                <h3>Price</h3>
                                                                <span>$250</span>
                                                        </div>
                                                        <div class="licence">
                                                                <h4>Uses of licences</h4>
                                                                <figure>
                                                                        <img
                                                                                src="../../../assets/images/direct-sell/image-01.png" />
                                                                </figure>
                                                                <h5>Selling Count</h5>
                                                                <span>200</span>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div class="similar-product">

                                        <div class="row">
                                                <div class="col-sm-12  col-12">
                                                        <div class="title">
                                                                <h3>Similar Products</h3>
                                                                <div class="arrow-block">
                                                                        <span><img
                                                                                        src="../../../assets/images/icons/arrow-left.svg"></span>
                                                                        <span><img
                                                                                        src="../../../assets/images/icons/arrow-right.svg"></span>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 col-4">
                                                        <app-artist-list-item></app-artist-list-item>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 col-4">
                                                        <app-artist-list-item></app-artist-list-item>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 col-4">
                                                        <app-artist-list-item></app-artist-list-item>
                                                </div>

                                        </div>
                                </div>
                        </div>
                </div>

                <div class="right-side-bar">
                        <div class="shadow-box">
                                <div class="title">
                                        <h3>Live Auctions</h3>
                                </div>
                                <app-live-actions></app-live-actions>
                                <app-live-actions></app-live-actions>
                                <div class="show-more-btn">
                                        <a href="#">Show more
                                                <span>
                                                        <img src="../../../assets/images/icons/arrow-down.svg" />
                                                </span>
                                        </a>
                                </div>
                        </div>
                        <div class="shadow-box">
                                <div class="title">
                                        <h3>Direct Selling</h3>
                                </div>
                                <app-direct-selling></app-direct-selling>
                                <app-direct-selling></app-direct-selling>
                                <div class="show-more-btn">
                                        <a href="#">Show more
                                                <span>
                                                        <img src="../../../assets/images/icons/arrow-down.svg" />
                                                </span>
                                        </a>
                                </div>
                        </div>
                </div>

        </div>


</app-header-with-sidenav>