<div class="shadow-box item-block">
    <h5>Pumpkinship Night</h5>
    <h6>Binaural Space</h6>
    <figure>
        <img src="../../../assets/images/pic/image-01.jpg" />
    </figure>
    <span class="time">
        <i>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="962 192 23 23">
                <g data-name="211606_clock_icon">
                    <g data-name="Path 87">
                        <path
                            d="M973.5 192c-6.353 0-11.5 5.147-11.5 11.5s5.147 11.5 11.5 11.5 11.5-5.147 11.5-11.5-5.147-11.5-11.5-11.5Zm0 22.044c-5.81 0-10.544-4.728-10.544-10.544 0-5.81 4.728-10.544 10.544-10.544 5.81 0 10.544 4.728 10.544 10.544 0 5.81-4.733 10.544-10.544 10.544Z"
                            fill="#535353" fill-rule="evenodd" />
                        <path
                            d="M973.5 192c-6.353 0-11.5 5.147-11.5 11.5s5.147 11.5 11.5 11.5 11.5-5.147 11.5-11.5-5.147-11.5-11.5-11.5Zm0 22.044c-5.81 0-10.544-4.728-10.544-10.544 0-5.81 4.728-10.544 10.544-10.544 5.81 0 10.544 4.728 10.544 10.544 0 5.81-4.733 10.544-10.544 10.544Z"
                            stroke-linejoin="round" stroke-linecap="round" stroke-width=".6" stroke="#535353"
                            fill="transparent" />
                    </g>
                    <g data-name="Path 88">
                        <path d="M973.5 203.5h-5.308v.956h6.264v-8.033h-.956v7.077Z" fill="#535353"
                            fill-rule="evenodd" />
                        <path d="M973.5 203.5h-5.308v.956h6.264v-8.033h-.956v7.077Z" stroke-linejoin="round"
                            stroke-linecap="round" stroke-width=".6" stroke="#535353" fill="transparent" />
                    </g>
                </g>
            </svg>
        </i>
        01:22:20</span>
</div>