<app-header-with-sidenav>


    <div class="main-wrapper">
        <div class="main-content-wrapper">
            <div class="auction-tab-wrapper">

                <mat-tab-group>
                    <mat-tab label="My Sales ">
                        <div class="tab-container">
            
                            <div class="row slect-item">
                                <div class="item">
                                    <select matNativeControl required>
                                        <option value="volvo">Type</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                          
                                <div class=" item">
                                    <select matNativeControl required>
                                        <option value="volvo">Licence uses type</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                                <div class="item"> <select>
                                        <option value="0">Licence Term</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                    </select></div>
                          
                            </div>
            
            
                            <div class="">
                                <div class="row">
                                    
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                        <app-artist-list-item></app-artist-list-item>
                                    </div>
            
            
            
            
            
            
            
            
            
                                </div>
                            </div>
            
                        </div>
                    </mat-tab>
                    <mat-tab label="All Sales">
                        <div class="tab-container">
                            <div class="row slect-item">
                                <div class="item">
                                    <select matNativeControl required>
                                        <option value="volvo">Type</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                              
                                <div class=" item">
                                    <select matNativeControl required>
                                        <option value="volvo">Licence uses type</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                                <div class="item"> <select>
                                        <option value="0">Licence Term</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                    </select></div>
                            
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                    <app-artist-list-item></app-artist-list-item>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                    <app-artist-list-item></app-artist-list-item>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                    <app-artist-list-item></app-artist-list-item>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                    <app-artist-list-item></app-artist-list-item>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                    <app-artist-list-item></app-artist-list-item>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                    <app-artist-list-item></app-artist-list-item>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 col-4">
                                    <app-artist-list-item></app-artist-list-item>
                                </div>
            
                            </div>
                        </div>
                    </mat-tab>
            
                </mat-tab-group>
            </div> 
        </div>
        
        <div class="right-side-bar">
            <div class="shadow-box">
                <div class="title">
                  <h3>Live Auctions</h3>
                </div>
                <app-live-actions></app-live-actions>
                <app-live-actions></app-live-actions>
                <app-live-actions></app-live-actions>
                <app-live-actions></app-live-actions>
                <app-live-actions></app-live-actions>

                <div class="show-more-btn" routerLink="/home/auction" >
                    <a
                    >Show more
                    <span>
                      <img src="../../../assets/images/icons/arrow-down.svg" />
                    </span>
                  </a>
                </div>
              </div>
        </div>
    </div>

    

    
</app-header-with-sidenav>








