<div class="col-4">
  <div class="item-block">
    <figure >
      <img *ngIf="artistData?.Image" [src]="artistData.Image" alt="" />
      <img
        *ngIf="!artistData?.Image"
        src="assets/images/pic/profile.jpg"
        alt=""
      />
    </figure>
    <div class="content">
      <h4>{{ artistData.name }}</h4>
      <a
        *ngIf="action === 'follow' && artistData.id !== user?.uid"
        (click)="followArtist()"
        >{{ isFollowed ? 'Unfollow' : 'Follow' }}</a
      >
    </div>
    </div>
</div>