<app-header-with-sidenav>
    <div class="main-wrapper">
        <div class="shadow-box user-bid-wrapper">
            <div class="row">
                <div class="col-12 col-xs-12 col-lg-6">
                    <div class="left-block">
                        <div class="title">
                            <div class="block">
                                <h4>MARKEYBEE Living Room</h4>
                                <span>Binaural Space</span>
                            </div>
                            <div class="exclusive"> 
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                Exclusive
                            </div>
                        </div>
                        <div class="profile">
                            <figure>
                                <img src="../../../assets/images/pic/profile-image-01.jpg" />
                            </figure>
                            <h6>Tom Cruise</h6>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-6">
                                <mat-form-field appearance="outline" class="mr-10">
                                    <mat-label>Uses of licence</mat-label>
                                    <input matInput placeholder="Music" formControlName="Music" />
                                  </mat-form-field>     
                             </div>
                             <div class="col-xs-12 col-sm-6 col-6">
                                <mat-form-field appearance="outline" class="mr-10">
                                    <mat-label>Number of licence</mat-label>
                                    <input matInput placeholder="121" formControlName="121" />
                                  </mat-form-field>     
                             </div>
                        </div>
                        <div class="video-block">
                            <div class="video">
                                <img  src="../../../assets/images/direct-sell/video-image.png"/>
                            </div>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable 
content of a page when looking at its layout.
                            </p>
                        </div>  
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-lg-6">
                    <div class="bid-info-block">
                        <div class="title">
                            <div class="price">Current price <span>$250</span></div>
                            <button class="btn">Bid</button>
                        </div>
                        <div class="bidder-block">
                            <div class="highest-bidder">
                                <h4>Highest Bidder</h4>
                                <div class="profile">
                                    <figure>
                                        <img src="../../../assets/images/pic/profile-image-01.jpg" />
                                    </figure>
                                    <h6>Tom Cruise</h6>
                                </div>
                            </div>
                            <div class="bid-price">
                                Each Bid price
                                <div class="price">$789</div>
                            </div>
                        </div>

                        <div class="bid-list">
                            <h3>Recent 10 Bids</h3>
                            <table  cellpadding="0">
                                <thead>
                                    <tr>
                                        <td>Price</td>
                                        <td>Name</td>
                                        <td>Time</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>$150</td>
                                        <td>George</td>
                                        <td>10:30PM</td>
                                    </tr>
                                    <tr>
                                        <td>$150</td>
                                        <td>George</td>
                                        <td>10:30PM</td>
                                    </tr>
                                    <tr>
                                        <td>$150</td>
                                        <td>George</td>
                                        <td>10:30PM</td>
                                    </tr>
                                    <tr>
                                        <td>$150</td>
                                        <td>George</td>
                                        <td>10:30PM</td>
                                    </tr>
                                    <tr>
                                        <td>$150</td>
                                        <td>George</td>
                                        <td>10:30PM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="time-block">
                            <div class="item">
                                <i>
                                    <img src="../../../assets/images/icons/clock_icon.svg" />
                                </i>
                                <span>01:22:20</span>
                            </div>
                        </div>
                    </div>

                    <div class="current-bidders-block">
                        <div class="title">
                            <h3>Current Bidders</h3>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-3">
                                <div class="box-shadow">
                                    <figure>
                                        <img src="../../../assets/images/pic/profile-image-01.jpg" />
                                    </figure>
                                    <div class="content">
                                        <h3>Tom Vargese</h3>       
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-3">
                                <div class="box-shadow">
                                    <figure>
                                        <img src="../../../assets/images/pic/profile-image-01.jpg" />
                                    </figure>
                                    <div class="content">
                                        <h3>Tom Vargese</h3>       
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-3">
                                <div class="box-shadow">
                                    <figure>
                                        <img src="../../../assets/images/pic/profile-image-01.jpg" />
                                    </figure>
                                    <div class="content">
                                        <h3>Tom Vargese</h3>       
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-3">
                                <div class="box-shadow">
                                    <figure>
                                        <img src="../../../assets/images/pic/profile-image-01.jpg" />
                                    </figure>
                                    <div class="content">
                                        <h3>Tom Vargese</h3>       
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-3">
                                <div class="box-shadow">
                                    <figure>
                                        <img src="../../../assets/images/pic/profile-image-01.jpg" />
                                    </figure>
                                    <div class="content">
                                        <h3>Tom Vargese</h3>       
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-3">
                                <div class="box-shadow">
                                    <figure>
                                        <img src="../../../assets/images/pic/profile-image-01.jpg" />
                                    </figure>
                                    <div class="content">
                                        <h3>Tom Vargese</h3>       
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-xs-12 col-lg-12">
                    <div class="past-history-wrapper">
                        <div class="title">
                            <h3>Past history for the item</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <td>Price</td>
                                    <td>Name</td>
                                    <td>Time</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$150</td>
                                    <td>George</td>
                                    <td>10:30PM</td>
                                </tr>
                                <tr>
                                    <td>$150</td>
                                    <td>George</td>
                                    <td>10:30PM</td>
                                </tr>
                                <tr>
                                    <td>$150</td>
                                    <td>George</td>
                                    <td>10:30PM</td>
                                </tr>
                                <tr>
                                    <td>$150</td>
                                    <td>George</td>
                                    <td>10:30PM</td>
                                </tr>
                                <tr>
                                    <td>$150</td>
                                    <td>George</td>
                                    <td>10:30PM</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-header-with-sidenav>