<div class="card-item" routerLink="/userjoin">
    <div class="card">
        <div class="card-title">
            <h4>Pumpkinship Night </h4>
            <span>Binaural Space</span>
        </div>
        <figure>
            <img class="w-100" src="../../../assets/images/auction/image-02.png" />
        </figure>
        <div class="d-flex align-items-center mt-10 mb-5">
            <span class="view d-flex align-items-center ">
                <i>
                    <img class="w-100" src="../../../assets/images/icons/eye-icon.svg" />
                </i>
                View
            </span>
            <span class="time ml-auto d-flex align-items-center ">
                <i>
                    <img class="w-100" src="../../../assets/images/icons/clock-icon.svg" />
                </i>
                01:22:20
            </span>
        </div>
        <div class="price">
            $250
        </div>
    </div>
</div>
