.mat-tab-header {
    box-shadow: none;
}

.btn{

    background-color: #4169e1;
    padding: 18px 30px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    display: inline-block;

}

.form-block{
    width: 700px;
}