<app-header-with-sidenav>
    <div class="main-wrapper">
        <div class="main-content-wrapper">
            <div class="shadow-box">
                <div class="upload-block">
                    <div class="title">
                        <h4>Upload Content</h4>
                       
                    </div>
                    <form class="form-block">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-12">
                                <mat-form-field appearance="fill">
                                    <select matNativeControl required>
                                        <option value="volvo">Select your content type</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-12">
                                <mat-form-field appearance="outline" class="mr-10">
                                    <mat-label>Title</mat-label>
                                    <input matInput placeholder="Music Band" formControlName="bank" />
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-12">
                                <mat-form-field appearance="outline" class="mr-10">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput rows="5" cols="40" placeholder=""></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-12">
                                <div class="tag-filed">
                                    <div class="tag-item">Albums
                                        <span>x</span>
                                    </div>
                                    <div class="tag-item">Music
                                        <span>x</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-12">
                                <div class="image-block">
                                    <div class="item">
                                        <figure>
                                            <img src="../../../assets/images/streaming/image-01.png" />
                                        </figure>
                                        <a href="#">

<svg xmlns="http://www.w3.org/2000/svg" width="20" height="22.942" viewBox="1112.85 459.058 29.825 22.942"><g data-name="211634_camera_icon"><path d="M1140.266 462.714h-4.84l-2.896-2.925s-.014-.014-.022-.014l-.014-.015a2.345 2.345 0 0 0-1.67-.702h-6.023c-.702 0-1.326.3-1.764.781v.007l-2.831 2.868h-4.947c-1.334 0-2.41 1.047-2.41 2.38v14.49a2.411 2.411 0 0 0 2.41 2.416h25.007a2.416 2.416 0 0 0 2.409-2.416v-14.49c0-1.333-1.083-2.38-2.41-2.38Zm-12.504 15.665c-3.65 0-6.624-2.982-6.624-6.639 0-3.663 2.975-6.639 6.624-6.639 3.657 0 6.625 2.976 6.625 6.64 0 3.656-2.968 6.638-6.625 6.638Zm12.052-11.83a1.008 1.008 0 0 1-1.004-1.01c0-.56.452-1.011 1.004-1.011s1.004.452 1.004 1.01c0 .56-.452 1.012-1.004 1.012Z" fill="#2a2a2a" fill-rule="evenodd" data-name="Path 139"/><path d="M1127.762 466.722a5.007 5.007 0 0 0-5.004 5.018c0 2.768 2.237 5.02 5.004 5.02a5.012 5.012 0 0 0 5.005-5.02 5.012 5.012 0 0 0-5.005-5.018Z" fill="#2a2a2a" fill-rule="evenodd" data-name="Path 140"/></g></svg>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <figure>  <img src="../../../assets/images/streaming/image-01.png" /></figure>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <mat-form-field appearance="outline" class="mr-10">
                                            <mat-label>Album/Collection Name</mat-label>
                                            <input matInput placeholder="Album/Collection Name"
                                                formControlName="Album/Collection Name" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                            
                                            <mat-checkbox color="primary" indeterminate="false" class="mr-15"> 
                                            New
                                          </mat-checkbox>
                                          <mat-checkbox color="primary" indeterminate="false" class="mr-15"> 
                                            Existing
                                          </mat-checkbox>
                                          <mat-checkbox color="primary" indeterminate="false" class="mr-15"> 
                                            Exclusive
                                          </mat-checkbox>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-12">
                                <span class="date">10/09/2022</span>
                                <button class="upload">Upload</button>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-12">
                                <div class="upload-content-block">
                                    <div class="title">
                                        <h2>Upload Content</h2>
                                    </div>
                                    <div class="search-block">
                                        <div>
                                            <div class="fieldset">
                                                <input placeholder="Search" />
                                                <button>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22.05" viewBox="773 1395.95 22 22.05"><g data-name="3844467_magnifier_search_zoom_icon"><path d="M773 1404.9a9 9 0 1 1 0 .1z" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#959595" fill="transparent" data-name="XMLID_42_"/><path d="m795 1418-6.634-6.634" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#959595" fill="transparent" data-name="XMLID_44_"/></g></svg></button>
                                            </div>
                                        </div>
                                        <div class="arrow-block">
                                            <span><img src="../../../assets/images/icons/arrow-left.svg"></span>
                                            <span><img src="../../../assets/images/icons/arrow-right.svg"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 col-4">
                                            <app-artist-list-item></app-artist-list-item>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 col-4">
                                            <app-artist-list-item></app-artist-list-item>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 col-4">
                                            <app-artist-list-item></app-artist-list-item>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="right-side-bar">
            <div class="shadow-box">
                <div class="title">
                    <h3>Joined Rooms</h3>
                </div>
                <app-live-actions></app-live-actions>
                <app-live-actions></app-live-actions>
                <app-live-actions></app-live-actions>
                <app-live-actions></app-live-actions>
                <app-live-actions></app-live-actions>
                <div class="show-more-btn">
                    <a href="#">Show more
                        <span>
                            <img src="../../../assets/images/icons/arrow-down.svg" />
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</app-header-with-sidenav>